#bottom{
    height: 40px;
    background-color: #EEEE;
    display: flex;
    flex-flow: row;
    justify-content: space-between;

}
#bottom1{
    flex: 1;
    font-size: 18px;
    font-family: 微软雅黑;
    text-align: center;
    line-height: 20px;
    color: black;

}
#bottom2{
    flex: 1;
    font-size: 18px;
    font-family: 微软雅黑;
    text-align: center;
    line-height: 20px;


}
#bottom4{
     flex: 1;
     font-size: 18px;
     font-family: 微软雅黑;
     text-align: center;
     line-height: 20px;
     color: grey;
 }
#bottom5{
    flex: 1;
    font-size: 18px;
    font-family: 微软雅黑;
    text-align: center;
    line-height: 20px;
    color: grey;
}
.menu {
    height: 30px;
    flex: 1;

    background-size: 20px;
    background: no-repeat center;
}


.nav{
    width:100px;
    height:40px;
    list-style:none;

    text-align:center;
    text-decoration: none;
    font-size: 20px;

    line-height: 40px;
    float: left;

}


#menu{
    display: none;

    height: 160px;
    width: 120px;
    background-color: #313131;

    position: absolute;
    right: 10px;
    top: 60px;
}









